<div class="container-price">
  <h1>{{'price'| translate}}</h1>
  <figure>
    <p>{{'The cost of living in the house:'|translate}}<span>3000</span>{{'hryvnia per day.'|translate}}</p>
    <p>{{'In the New Year period:'|translate}}<span>6000</span>{{'hryvnia per day.'|translate}}</p>
    <p>{{'For an additional fee you can buy firewood for the barbecue:'|translate}}<span>75</span>{{'hryvnia basket.'|translate}}</p>
    <p>{{'Check-in and check-out time is negotiated at time of booking.'|translate}}</p>
  </figure>
</div>
