<app-heder></app-heder>
<div class="container-house">
  <h1>Будинок</h1>
  <figure>
    <img class="img0" src="../../../../assets/IMG_1538.jpg"/>
    <p>Садибу зведено у мальовничій гірській ущелині Карпат на околиці села Тухля, що належить до національного парку
      «Сколівські Бескиди».Місце природної сили, гармонії та спокою утворюється завдяки злиттю двох Карпатських річок:
      Либохори та Опору.«Оселя Мандрівників» знаходиться одразу за гальковим пляжем.Довкола височіють  гірськи  хребти
      мальовничих Карпат : Зелемінський та Головецький. </p>

    <p ><img class="img1" src="../../../../assets/Yard5.JPG"/><img class="img2" src="../../../../assets/Yard3.JPG"/>
      Двоповерхову будівлю садиби створено так,щоб поєднати геометрію сили з
      принципом спокою. Так, на першому поверсі розташувалися:кухня, велика відкрита веранда, їдальня, камінний зал,
      бібліотека, кімната відпочинку, сан вузел та одна з п'яти спалень. На другому поверсі містяться дві двох ярусні
      спальні по чотири місця, одна чотирьох місна, одна двох місна спальні та сан вузел.</p>
    <p>Оселя обладнана сучасними зручностями: гарячою водою, газом, каміном, автономним опаленням.
      В лазні – окремій будівлі – є: сауна, душова, діжка з джерельною водою, кімната для   релаксації.
    </p>
  </figure>
</div>
<app-footer></app-footer>
