.container-house{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top: -190px;
}
h1{
  color: #5c5858;
}
figure{
  text-align: center;

}
.img0{
  width: 92%;
  border: 2px solid black;
  border-radius: 5px;
}
.img1{
  width:20%;
  border: 2px solid black;
  border-radius: 5px;
  position:relative;
  float:left;
  margin-right: 20px;
}
.img2{
  width:20%;
  border: 2px solid black;
  border-radius: 5px;
  position:relative;
  float:right;
  margin-right: 20px;
}
