<div id="headerMain">
  <div id="header">
    <ul class="head">
      <li><a routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}"
             [routerLink]="'/house'" >Будинок</a></li>
      <li><a routerLinkActive="active" [routerLink]="'/yard'">Подвір'я</a></li>
      <li><a routerLinkActive="active" [routerLink]="'/price'">Вартість оренди</a></li>
      <li><a routerLinkActive="active" [routerLink]="'/gallery'">Фото галерея</a></li>
      <li><a routerLinkActive="active" [routerLink]="'/calendar'">Календар</a></li>
      <li><a routerLinkActive="active" [routerLink]="'/contacts'">Контакти</a></li>
    </ul>

  </div>
</div>

