<div id="headerMain">
  <div id="header">
    <ul class="head">
      <li><a >Будинок</a></li>
      <li><a >Подвір'я</a></li>
      <li><a >Вартість оренди</a></li>
      <li><a >Фото галерея</a></li>
      <li><a >Календар</a></li>
      <li><a >Контакти</a></li>
      <li><a ></a></li>
    </ul>
    <h4 class="om">"Оселя мандрівників"</h4>
</div>
</div>
  <div id="headhead"class="container">

<router-outlet></router-outlet>

</div>

  <div id="footerMain">
    <div id="footer">

        <p >Україна, Львівська область, Сколівський р-н,село Тухля,вул.Захара Беркута 109б;</p>
        <p >+38 067 6725905-Оля; +38 097 5978605-Денис; email: 249478@gmail.com</p>


    </div>
  </div>

