<div class="container-yard">
  <h1>Подвір'я</h1>
  <figure>
    <img src="assets/childplas.jpg" class="img"><img src="assets/mangal.jpg" class="img1">
    <p>В «Оселі Мандрівників» можна відпочивати компанією,родиною з дітьми,
      парами й навіть наодинці.</p>
    <p>«Оселя Мандрівників» - вдале місце для відпочинку в Карпатах, святкувань, проведення семінарів та тренінгів.</p>
    <p>Впродовж цілого року цим куточком спокоюй сили можна користуватися для
      відновлення, оздоровлення та навчання. На подвір'ї розташованний, мангал, альтанка, дитячій майданчик, в теплий
      період року є також батут і басейн.</p>
    <p>Влітку в Карпатах приємно ходити в гори, купатися в річці, збирати ягоди, гриби та трави.</p>
    <img src="assets/swemingpull.jpg" class="img1">
  </figure>
</div>
