<div class="container-yard">
  <h1>{{'yard'| translate}}</h1>
  <figure>
    <img src="assets/childplas.jpg" class="img"><img src="assets/mangal.jpg" class="img1">
    <p>{{'In the «House of Travelers» you can relax in company, family with children, couples and even one.'|translate}}</p>
    <p>{{'House of Travelers ”is a good place to rest in the Carpathians, celebrations, seminars and trainings.'|translate}}</p>
    <p>{{'Throughout the year, this corner of tranquility and strength can be used for renewal, recovery, study. In the courtyard there are barbecue facilities, a bedclothes, a playground, in the warm season there is also a trampoline and a swimming pool.'|translate}}</p>
    <p>{{'In the summer in the Carpathians it is pleasant to go to the mountains, bathe in the river, pick berries, mushrooms and herbs.'|translate}}</p>
    <img src="assets/swemingpull.jpg" class="img1">
  </figure>
</div>
