<div class="container-contacts">
  <h1>{{'contacts'| translate}}</h1>
  <figure>
    <p>{{'Ukraine, Lviv region, Skole district, village Tukhlya, Zakhara Berkuta street 109b'|translate}};</p>
    <p>+38 067 6725905-{{'Olya'|translate}};</p>
    <p> +38 097 5978605-{{'Denys'|translate}};</p>
    <p>email: 249478@gmail.com</p>
    <p>{{'Getting to the estate is very simple: by car or taxi or train. The estate is located 10 kilometers from the famous mountain ski resort Slavske'|translate}}</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2622.3130316717993!2d23.470834!3d48.909428!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sus!4v1542057005730" width="1100" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </figure>
</div>
