.container-contacts{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top:-550px;
}
h1{
  color: #5c5858;
  font-size: 60px;
  margin-left: 15px;
}
figure{
  text-align: center;
}
