@import "~materialize-css/dist/css/materialize.min.css";
body{
  background-color: #b3e5fc ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  color: dimgrey;
  text-indent: 20px; /* Отступ первой строки в пикселах */
}

